<div id="page-intro">
            <h2>Managing a real zoo is hard</h2>
            <p>This is why managing a virtual zoo is <strong>awesome!</strong></p>
        </div>
        <div id="body">

            <div id="content">
                <h2>Welcome to the Zoo</h2>
                <p>Are you ready to start managing your own zoo?</p>

                <p>While playing the zoo, you will:</p>
                <ul>
                    <li>Buy, Sell, and Trade animals</li>
                    <li>Train animals to do cool tricks</li>
                    <li>Deck your critters out with cool collectable gear</li>
                    <li>And much, much more</li>
                </ul>

                <h3>Buying, Selling, Trading</h3>
                <p>Explain stuff here</p>

                <h3>Training</h3>
                <p>Explain stuff here</p>

                <h3>Buy cool stuff</h3>
                <p>Explain stuff here</p>

            </div>