		<h2>Welcome to the Zoo</h2>
		
		<ul>
			<li>
				Buy, Sell, and Trade animals
			</li>
			<li>
				Train animals to do cool tricks
			</li>
			<li>
				Deck your critters out with cool collectable gear
			</li>
			<li>
				And much, much more
			</li>
		</ul>
		<h3>Buying, Selling, Trading</h3>
		<p>
			Explain stuff here
		</p>
		<h3>Training</h3>
		<p>
			Explain stuff here
		</p>
		<h3>Buy cool stuff</h3>
		<p>
			Explain stuff here
		</p>
