<h4><span>Admin Bar</span></h4>
<ul class="blocklist">
	<li>
		<%= link_to_unless_current "Edit Users", users_path%>
	</li>
	<li>
		<%= link_to_unless_current "Edit Animals", animals_path%>
	</li>
	<li>
		<%= link_to_unless_current "Mangage Relationships", root_path%>
	</li>
	<li>
		<a href="#">Solutions</a>
	</li>
	<li>
		<a href="#">Contact</a>
	</li>
</ul>