 <div id="footer">
          <div class="footer-content">
            <div class="footer-box">
                <h4>About the Zoo</h4>

                <p>
                    The Zoo is the implementation of the imagination of a 3 year old.  When asked for a fun idea for a website, his answer was, "I want a howler monkey and a puma.  I want to make him do tricks.  The rest is history.</p>
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer-links">
        <!-- A link to http://www.spyka.net must remain. To remove link see http://www.spyka.net/licensing -->
                <p>&copy; TheZoo 2010. Design based on the work of <a href="http://www.spyka.net">Spyka.net</a></p>
        </div>
    </div>
</div>