<div class="sidebar">
	<ul>
		<li>
			<%if user_signed_in?%>
			<%if current_user.admin?%>
			<%= render "layouts/adminbar"%>
			<%else%>
			<%= render "layouts/userbar"%>
			<%end%>

			<%else%>
			<%= render "layouts/defaultbar"%>
			<%end%>
		</li>
	</ul>
	<div class="sidebar-end"></div>
</div>