<h4><span><%= current_user.name%>'s Navigation</span></h4>
<ul class="blocklist">
                        <li><%= link_to  "Buy/Sell Animals", root_path%></li>
                        <li><%= link_to "Trade Animals", root_path%></li>
                        </ul>